---
import NewsletterDialog from "../components/NewsletterDialog.vue";
import AboutDialog from "../components/AboutDialog.vue";
import Layout from "../layouts/Layout.astro";

import { statSync } from "fs";
const result = statSync('src/pages/index.astro');
const lastModified = result.mtime;

// Months in short format
const months = [
  "January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];

// Get day, month, year, hours, and minutes
const day = lastModified.getDate();
const month = months[lastModified.getMonth()];
const year = lastModified.getFullYear();
const hours = lastModified.getHours().toString().padStart(2, '0');
const minutes = lastModified.getMinutes().toString().padStart(2, '0');

// Construct the formatted date string
const formattedDate = `${day} ${month} ${year} @ ${hours}:${minutes}`;
---

<Layout title="Diipone Academy | Changing Education">
  <div
    class="bg-primary bg-cover bg-center w-full h-screen flex flex-col justify-center items-center p-5 relative"
    style="background-image: url('./assets/images/bg-hero.webp');"
  >
  <p class="absolute bottom-0 p-2 text-white/30 text-xs">Last Updated: {formattedDate}</p>
    <img
      src="./assets/images/emblem.svg"
      alt="Diipone Academy Emblem"
      class="drop-shadow-lg"
      width="240"
      height="266"
    />
    <h1
      class="font-bold text-white text-3xl leading-[40px] md:text-6xl md:leading-[70px] max-w-3xl text-center mt-5 drop-shadow-lg"
    >
      Creating the future of <span class="text-secondary"
        >affordable online learning</span
      > for all.
    </h1>
    <div class="mt-10 flex gap-5">
      <AboutDialog client:load />
      <NewsletterDialog client:only/>
    </div>
  </div>
</Layout>